:root{
  font-family: Arial;
  color: white;
 
}
body{
  background-image: linear-gradient(to bottom, rgba(5,10,39,0.7), rgba(5,10,39,0.7)), url(/public/bg.jpg);
  background-position:center top;
  background-attachment: fixed;
  background-size:cover;
}
.button{
  background-color: transparent;
  color: white;
  font-size: large;
  padding: 5px;
  border: 2px solid white;
  border-radius: 1vh;
}
.card{
  background-color: #240635;
  border: 3px solid white;
  padding: 1vh 1vw;
  margin: 5vh 35vw;
  transition: 0.5s;
}
.card:hover{
  transform: scale(1.05);
}

#header{
  text-align: center;
  font-size: x-large;
  border: solid 5px white;
  border-radius: 3vh;
  padding: 1vw;
  margin: auto 10vw;
}

.box{
  display: flex;
  margin: 5vh 10vw;
  justify-content:space-around;
}

#quote{
  text-align: center;
}

.image{
  margin-top: 2vh;
  max-width: 50%;
  border: 4px solid white;
  border-radius: 2vw;
}

.container{
  display: flex;
  justify-content: center;
}

#bottom {
  font-size: medium;
  padding: 0.75vh 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1vh;
}